---
import Layout from '~/layouts/PageLayout.astro';

import PopulatedHeader from '~/components/widgets/PopulatedHeader.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';
import LogoCarousel from '~/components/widgets/LogoCarousel.astro';

const metadata = {
  title: "Ryan Ogden's Portfolio",
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <PopulatedHeader />
  </Fragment>

  <!-- Hero2 Widget ******************* -->
  <Hero
    id="hero"
    title="Ryan Ogden"
    actions={[{ variant: 'primary', text: 'Hire me', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      I'm a Software Engineer passionate about building beautiful things. <br /> With 4 years of experience and a Bachelors
      in Computer Science, I prioritize performance and utility, transforming applications into profitable products.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    image={{
      src: '~/assets/images/primary_photo.png',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        I started writing code early in my career and never looked back. I have a vision to create products that make people lean forward and ask, "Wait, you can do that?!".
      </p>
      <br />
      <p>
        I see code as having the potential to better the lives of everyone around me. It is my dream for organizations to use the tools I build to make a more beautiful world for us all.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Software Engineer <br /> <span class="font-normal">Pioneering Evolution LLC, Arlington, VA</span> <br /> <span class="text-sm font-normal">Jan 2023 - Present</span>',
        description: `• Led the development of the “Multiple Baselines” feature, the largest in the product’s history, transforming the core architecture and adding a new dimension to military budgeting.<br />
        • Worked with the client to manage scope, proactively planned to remove bottlenecks, and redefined how ticket requirements and test procedures are written.<br />
        • Single-handedly implemented the “Fund Plan Change Worksheet”, delivering an anticipated feature that enhances management account flexibility.<br />
        • Spearheaded the introduction of comprehensive code documentation practices, fostering improved knowledge sharing and onboarding efficiency.<br />
        • Played a key role in setting up the testing suite and package-level development, contributing to higher software quality and modular architecture.<br />
        • Rewrote a script to reconcile breaking changes, optimizing deployment processes and ensuring seamless upgrades.<br />
        • Acted as a key resource for team members, providing technical guidance in Laravel and Vue, and promoting best practices through code reviews and mentorship.<br />
        • Cultivated a collaborative team environment by recognizing and publicly appreciating team member’s contributions and achievements, enhancing morale and team cohesion.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Software Design Teaching Assistant <br /> <span class="font-normal">Brigham Young University, Provo, UT</span> <br /> <span class="text-sm font-normal">Sep 2022 - Dec 2022</span>',
        description: `• Facilitated a scalable MVP Android Twitter clone powered by AWS lambdas, SQS queues, and DynamoDB tables.<br />
• Coached 10+ students per day to solve issues, even when they were discouraged.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Full-Stack Developer <br /> <span class="font-normal">BYU Office of Information Technology, Provo, UT</span> <br /> <span class="text-sm font-normal">Sep 2021 - Jun 2022</span>',
        description: `• Built an administrative tool with a highly customized user interface for the Office of the President.<br />
• Doubled (2x) team’s point velocity by cross-training and coordinating with colleagues.<br />
• Refactored BYU’s course catalog of 100+ pages to use Vue, NodeJS, and DynamoDB.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Platform Administrator <br /> <span class="font-normal">BYU Office of Information Technology, Provo, UT</span> <br /> <span class="text-sm font-normal">Sep 2021 - Jun 2022</span>',
        description: `• Saved 12 weeks of work per year by automating update and validation processes.<br />
• Boosted efficiency by engineering 100+ Python, Ansible, and Linux Shell scripts.<br />
• Improved training and cross-training by writing 50+ knowledge base articles.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Bachelor of Science in Computer Science <br /> <span class="font-normal">Brigham Young University</span> <br /> <span class="text-sm font-normal">2018 - 2023 | 3.94 GPA</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <LogoCarousel
    title="Proficiencies"
    subtitle="If it's not .NET, I've probably tried it."
    logos={[
      "devicon-amazonwebservices-plain-wordmark",
      "devicon-alpinejs-original",
      "devicon-ansible-plain",
      "devicon-astro-plain",
      "devicon-bash-plain",
      "devicon-c-plain",
      "devicon-cplusplus-plain",
      "devicon-css3-plain",
      "devicon-dart-plain",
      "devicon-firebase-plain",
      "devicon-flutter-plain",
      "devicon-git-plain",
      "devicon-go-original-wordmark",
      "devicon-html5-plain",
      "devicon-java-plain",
      "devicon-laravel-original",
      "devicon-mysql-original",
      "devicon-neo4j-plain",
      "devicon-php-plain",
      "devicon-postgresql-plain",
      "devicon-python-plain",
      "devicon-rust-original",
      "devicon-sqlite-plain",
      "devicon-vuejs-plain",
      "devicon-tailwindcss-original"
    ]}
  />

  <Features3
    title="Skills"
    subtitle="It's one thing to write code; it's another to write code with a team."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Design Patterns',
        description: 'I know when to use them, and when they bring unnecessary complexity.',
      },
      {
        title: 'Sprint Planning',
        description: 'Identifying bottlenecks, breaking down tickets, and strictly managing scope.',
      },
      {
        title: 'User-Driven Design',
        description: 'Understanding the why behind the product is essential to prioritizing features.',
      },
      {
        title: 'Test-Drivien Development',
        description: 'Writing tests beforehand and adapting them during implementation.',
      },
      {
        title: 'Team Building',
        description: 'Bringing developers in from the sidelines and meaningfully rewarding their contributions.',
      },
      {
        title: 'Honest Reporting',
        description: "I'll tell you how the team is really doing, not just what I think you want to hear.",
      },
      {
        title: 'Effective Documentation',
        description: "Reduce your 'bus factor' and protect your code from becoming a black box.",
      },
      {
        title: 'Code Optimization',
        description: 'Lazy-loading, eager-loading, asynchrony, memory-reduction, and queue management.',
      },
      {
        title: 'Readable Code',
        description: "I'm a never-nester who writes self-annotaing code, and then annotates it anyways."
      }
    ]}
  />

  <!-- Content Widget **************** -->

  <!-- <Content
    id="porfolio"
    title="Elevating visual narratives"
    subtitle="Embark on a design journey that surpasses pixels, entering a realm of imagination. Explore my portfolio, where passion and creativity converge to shape enthralling visual narratives."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Developed a comprehensive brand identity for a tech startup, Tech Innovators, specializing in disruptive innovations. The goal was to convey a modern yet approachable image that resonated with both corporate clients and tech enthusiasts.',
      },
      {
        title: 'Role:',
        description:
          'Led the entire branding process from concept to execution. Created a dynamic logo that symbolized innovation, selected a vibrant color palette, and I designed corporate stationery, website graphics, and social media assets.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 1: <br /><span class="text-2xl">Brand identity for tech innovators</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Designed a captivating event poster for an art and music festival, "ArtWave Fusion," aiming to showcase the synergy between visual art and music genres.',
      },
      {
        title: 'Role:',
        description: `Translated the festival's creative theme into a visually striking poster. Used bold typography, vibrant colors, and abstract elements to depict the fusion of art and music. Ensured the design captured the festival's vibrant atmosphere.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 2: <br /><span class="text-2xl">Event poster for art & music festival</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Redesigned the e-commerce website for an eco-conscious fashion brand, GreenVogue. The objective was to align the brand's online presence with its sustainable ethos and improve user experience.`,
      },
      {
        title: 'Role:',
        description: `Conducted a thorough analysis of the brand's values and customer base to inform the design direction. Created a visually appealing interface with intuitive navigation, highlighting sustainable materials, and integrating a user-friendly shopping experience.`,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 3: <br /><span class="text-2xl">E-commerce website redesign for fashion brand</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Testimonials Widget *********** -->

  <Testimonials
    id="testimonials"
    title="Testimonials"
    subtitle="How is it to work with Ryan really?"
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: 'Mark Thompson',
        job: 'Creative director',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: 'Emily Martinez',
        job: 'CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Laura Simmons',
        job: 'Founder of an NGO',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
      {
        testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,
        name: 'Alex Foster',
        job: 'Director of web services',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,
        name: 'Jessica Collins',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,
        name: 'Michael Carter',
        job: 'Event Coordinator',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Michael Carter Image',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into captivating designs?"
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: '/',
      },
    ]}
  /> -->

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
